.container {
  background-color: var(--bg-dark);
  display: flex;
  flex-direction: column;
  justify-items: stretch;
  min-height: 100vh;
  box-sizing: border-box;
  width: 100vw;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.topbar {
  position: fixed;
  top: 0px;
  height: 27vh;
  color: var(--text-light);
  width: 100vw;
  padding: 0px;
}

.topmenu {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 40px;
}

.addButton {
  justify-self: right;
  margin: 0px 40px;
  align-self: center;
}

.user {
  margin: 0px 40px;
}

.uploadSpace {
  display: flex;
  margin: 20px 40px;
  height: 80px;
  background-color: var(--fds-dark);
  border-radius: 10px;
  composes: bodyBold from "../../styles.module.css";
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.innercontainer {
  margin-top: 30vh;
  overflow: scroll;
  height: 70vh;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth ;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.innercontainer::-webkit-scrollbar {
  display: none;
}

.folderMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.folderMenuTitle {
  composes: bodyBold from "../../styles.module.css";
}

.dialogContainer {
  background-color: var(--fds-dark);
}

.progress {
  width: 80%;
  margin: 10px 0px;
  color: var(--text-light);
}

.folderLoading {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-light);
}

.title {
  composes: mainTitle1 from "../../styles.module.css";
  color: white;
  margin: 0px 40px;
}

.subtitle {
  composes: bodyDefault from "../../styles.module.css";
  color: var(--fds-blue);
  text-align: center;
  margin: 20px 0px 20px 0px;
  line-height: 150%;
}

.username {
  composes: bodyBold from "../../styles.module.css";
  color: white;
  line-height: 150%;
}

.balance {
  composes: bodyBold from "../../styles.module.css";
  composes: baseGlowText from "../../styles.module.css";
  color:var(--fds-blue);
  line-height: 150%;
}

.status {
  composes: bodyDefault from "../../styles.module.css";
  line-height: 150%;
  color: white;
  margin: 0px 40px;
}

.rowItem {
  padding: 16px 40px 14px 40px;
  border-bottom: 1px solid var(--fds-dark);
  align-items: center; 
  display: grid;
  grid-template-columns: 30px auto 10px;
  grid-gap: 20px;
  box-sizing: border-box;
  composes: bodyBold from "../../styles.module.css";
  line-height: 150%;
  color: white;
  max-width: 100vw;
}

.folderText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fileIcon {
  max-width: 24px;
  align-self: center;
}

.closeButton {
  position: fixed;
  top: 18px;
  right: 18px;
  cursor: pointer;
  width: 36px;
  height: 36px;
}

.appicon {
  border-radius: 50%;
  height: 90px;
  width: 90px;
}

.flexer {
  margin: 20px;
}

.nameInput {
  composes: bodyDefault from "../../styles.module.css";
  width: 205px;
  text-align: left;
  padding-bottom: 5px;
  border: 0px;
  border-bottom: 1px solid var(--fds-blue);
  background-color: transparent;
  color: var(--text-light);
  outline: none;
}

